@{
    <h2>User Form</h2>
    <form method="post">
        <label>User FirstName:</label><br />
        <input type="text" name="FirstName" /><br />
        <label>User LastName:</label><br />
        <input type="text" name="LastName" /><br />
        <label>User FatherName:</label><br />
        <input type="text" name="FatherName" /><br />
        <label>User Birthday:</label><br />
        <input type="text" name="Birthday" /><br />
        <label>User Sex:</label><br />
        <input type="text" name="Sex" /><br />
        <label>User InfoAboutUser:</label><br />
        <input type="text" name="InfoAboutUser" /><br />
        <input type="submit" value="Send" />
    </form>
}
